@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


header {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    color: white;
}
body {
    font-family: 'Tomorrow', sans-serif1;
    background-color: rgb(214, 214, 214);
    margin: 0px;
    background-image: url(Assets/Fundo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.centro {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
}

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

button {
    font-size: 20px;
}

.Upgrades button:active{
    animation: anima-botao 1s ease-out;
    animation-fill-mode: backwards;
}


@keyframes anima-botao {
    0%{
        transform: translatey(10px);
    }  
    100% {  
        opacity: 1;
        transform: translatey(0px);
    }
}

.Upgrades {
    margin: 15px;
    max-width: 15.625rem;
    background-color: purple;
    position: relative;
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 45rem;
}

.Upgrades h1 {
    border: 1px solid transparent;
    border-radius: 15px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.5);
    max-width: 12.5rem;
    display: inline-block;
    padding: 5px;
}

.Upgrades::-webkit-scrollbar {
    width: 8px;
}

.Upgrades {
    scrollbar-width: thin;
    scrollbar-color: purple transparent;
}

.Upgrades::-webkit-scrollbar-track {
    background-color: transparent;
    /* fundo transparente */
}

.Upgrades button {
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.Upgrades p {
    display: inline-block;
    font-size: 25px;
    border: 2px solid transparent;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 20px;
}

.upgradeitem::after {
    content: "";
    display: block;
    width: 80%;
    margin: 10px auto 0 auto;
    height: 3px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

#up1 {
    font-size: 25px;
}

#up6, #up7 {
    font-size: 25px;
}

.autoclicker{
    color: red;
}

#gsac{
    font-size: 15px;
    font-weight: 700;
    max-width: 200px;
}
